.mixin.out/
backup/
blueprints/
datapacks/
defaultconfigs/
downloads/
journeymap/
logs/
moddata/
patchouli_books/
profileImage/
saves/
schematics/
scripts/
shaderpacks/
.curseclient
.qmenu_opened.marker
command_history.txt
minecraftinstance.json
observable_announce.json
options.txt
patchouli_data.json
servers.dat
servers.dat_old
user-prefs.json
usercache.json
WaypointData.dat